{% load static%}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static 'style.css'%}">
        <link rel="stylesheet" href="{% static 'table_style.css'%}">
        <link rel="icon" href="{% static 'favicon.ico'%}">
        <script src="{% static 'sidenav.js' %}"></script>
	<title>Music Collections</title>
	<meta name="description" content="A place to store your music collection">
	<meta name="author" content="LoipesMas">
    </head>
    <body> 
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="/">Home</a>
        <a href="/about">About</a>
        {% if request.user.is_authenticated %}
        <a href="{% url 'view-own'%}">View your collection</a>
        <a href="{% url 'submit' %}">Submit</a>
        <a>Logged in as {{request.user.username}}</a>
        <a href="/accounts/logout">Log out</a>
        {% else %}
        <a href="{% url 'accounts:view-login' %}">Log in</a>
        <a href="{% url 'accounts:view-signup' %}">Sign up</a>
        {% endif %}
    </div>
    <p class="menu-button" onclick="openNav()">Menu</p>
    <br />
    <div class="wrapper">
        <div class="noscript">
	        <noscript >JavaScript might be useful, please enable it</noscript>
        </div>
            {% block content%}
            {% endblock %}
    </div>
    <footer class="footer">
        <div class="container">
            <div class="row text-center"> LoipesMas © 2020</div>
            
        </div>
    </footer>
    </body>
</html>
